#main {
    font-size: 20px;
}

#title {
    color: darkgray;
}

#titleOfPageH1 {
    margin-left: 55vh;

}

#titleOfPageH2 {
    margin-left: 70vh;

}

/*#italics {*/
/*    font-style: italic;*/
/*}*/